<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h1 class="model">Model: {{model}}</h1>
    <p>Cylinder Capacity: {{cylinderCap}}</p>
    <p>Color: {{color}}</p>
  </div>

  <ion-button expand="block" (click)="goToMyMotos()">Show motorbikes catalogue</ion-button>
</ion-content>
